{% liquid
  if item.id
    assign path = 'update'
  else
    assign path = 'create'
  endif
  assign uuid = '' | uuid
  assign item_uuid = item.uuid | default: uuid
  assign image_delete_token = authenticity_token | default: context.authenticity_token
%}

<div id="titlebar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <h2>Add/Update Spaces</h2>

        <!-- Breadcrumbs -->
        <nav id="breadcrumbs">
          <ul>
            <li><a href="#">Home</a></li>
            <li>Spaces</li>
          </ul>
        </nav>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    {% liquid 
    include 'theme/simple/dashboard/sidebar'
    %}

    <div class="col-md-8">
      <div class="row">

        <div class="col-md-12 my-profile">
          <h4 class="margin-top-0 margin-bottom-30">Add/Edit Space Details</h4>

          <input type="hidden" name="image_delete_token" id="image_delete_token" value="{{ image_delete_token }}" />
          <form action="/dashboard/items/{{ path }}" method="post" id="property_frm">

          {% include 'authenticity_token' %}

          {% if item.id %}
          <input type="hidden" name="item[id]" value="{{ item.id }}" />
          {% endif %}
          <input type="hidden" name="item[uuid]" value="{{ item_uuid }}" />

          <label>{{ 'app.items.form.name' | t }}</label>
          <input id="name" name="item[name]" value="{{ item.name }}" autofocus required type="text">
          <span class="text-danger">{% include 'theme/simple/field_error', errors: object.errors.name %}</span>

          <label>{{ 'app.items.form.photos' | t }}</label>
          {% include 'theme/simple/photos/uppy_area' %}


          {% if path == 'update' %}
            <div x-data="{ showPhotos: false }">
              <!--<label>{{ 'app.items.form.photos' | t }}</label>-->
              <input type="button" @click="showPhotos = !showPhotos" class="button margin-top-20 margin-bottom-20" value="View Photos">

              <!-- Modal -->
              <div id="photoArea" x-show="showPhotos" class="table-responsive">
                <table class="table table-striped w-auto">
                <tr>
                  <th class="col">Photo</th>
                  <th>Action</th>
                </tr>
                {% for p in item.photos limit: 5 %}
                <tr>
                  <td class="row"><img width="200" height="100" src="{{ p.photo.versions.uncropped }}" alt="{{ item.name }}"></td>
                  <td><a href="/dashboard/photos/delete?id={{ p.id }}&item_id={{ item.id }}">Delete</a></td>
                </tr>
                {% endfor %}
                </table>
              </div>
            </div>

          {% endif %}

          <label>{{ 'app.items.form.category' | t }}</label>
          <select class="form-select" id="category" name="item[category]">
            {% for category in lib.categories %}
              {% assign ident = category | split: '/' | size | minus: 1 | times: 2 %}
              <option value="{{ category }}" {% if item.category == category %}selected{% endif %}>
                  {% for step in (1..ident) %} {% print "&nbsp;" %} {% endfor %}
                  {{ 'categories.' | append: category | t }}
              </option>
            {% endfor %}
          </select>
          <span class="text-danger">{% include 'theme/simple/field_error', errors: object.errors.category %}</span>

          <label>{{ 'app.items.form.short_description' | t }}</label>
          <textarea id="short_description" name="item[short_description]" cols="30" rows="10">{{ item.short_description }}</textarea>
          <span class="text-danger">{% include 'theme/simple/field_error', errors: object.errors.short_description %}</span>

          <label>{{ 'app.items.form.description' | t }}</label>
          <textarea id="description" name="item[description]" cols="30" rows="10">{{ item.description }}</textarea>
          <span class="text-danger">{% include 'theme/simple/field_error', errors: object.errors.description %}</span>
          
          <label>{{ 'app.items.form.location_name' | t }}</label>
          <input id="location_name" name="item[location_name]" value="{{ item.location_name }}" autofocus required type="text">   
          <span class="text-danger">{% include 'theme/simple/field_error', errors: object.errors.location_name %}</span>

          <label>{{ 'app.items.form.location_address' | t }}</label>
          <textarea id="location_address" name="item[location_address]" cols="30" rows="10">{{ item.location_address }}</textarea>  
          <span class="text-danger">{% include 'theme/simple/field_error', errors: object.errors.location_address %}</span>

          <label>{{ 'app.items.form.zip_code' | t }}</label>
          <input id="zip_code" name="item[zip_code]" value="{{ item.zip_code }}" autofocus required type="text">
          <span class="text-danger">{% include 'theme/simple/field_error', errors: object.errors.zip_code %}</span>

          <label>{{ 'app.items.form.location_type' | t }}</label>
          <select class="form-select" id="location_type" name="item[location_type]">
            <option value="Business" {% if item.location_type == 'Business' %}selected{% endif %}>Business</option>
            <option value="Co-Working" {% if item.location_type == 'Co-Working' %}selected{% endif %}>Co-Working</option>
            <option value="Public" {% if item.location_type == 'Public' %}selected{% endif %}>Public</option>
            <option value="Executive Suites" {% if item.location_type == 'Executive Suites' %}selected{% endif %}>Executive Suites</option>
          </select>     
          <span class="text-danger">{% include 'theme/simple/field_error', errors: object.errors.location_type %}</span>

          <div class="mt-3" style="display:none;">
            <label class="block" for="pricing_type">{{ 'app.items.form.pricing_type' | t }}</label>
            <select class="form-select" id="pricing_type" name="item[pricing_type]">
              <option value="Per Hour" {% if item.pricing_type == 'Per Hour' %}selected{% endif %}>Per Hour</option>
              <option value="Per Day" {% if item.pricing_type == 'Per Day' %}selected{% endif %}>Per Day</option>
              <option value="Per work week (5 days)" {% if item.pricing_type == 'Per work week (5 days)' %}selected{% endif %}>Per work week (5 days)</option>
              <option value="Per calendar week (7 days)" {% if item.pricing_type == 'Per calendar week (7 days)' %}selected{% endif %}>Per calendar week (7 days)</option>
              <option value="Per calendar month" {% if item.pricing_type == 'Per calendar month' %}selected{% endif %}>Per calendar month</option>
            </select>

            {% include 'theme/simple/field_error', errors: item.errors.pricing_type %}
          </div>

           <div class="mt-3" style="display:none;">
            <label class="block" for="price">{{ 'app.items.form.price' | t }}</label>
            <!-- TODO: Add currency prefix $[input]  -->
            <input class="w-32 form-input" type="number" id="price" name="item[price]"
              value="{{ item.price | default: 1000 | pricify_cents | replace_regex: '[\$\,]', '' }}" />
            {% include 'theme/simple/field_error', errors: object.errors.price %}
          </div>

          <div x-data="{ showPriceSection: false }">
            <label for="price">{{ 'app.items.form.price' | t }}</label>
            <input @click="showPriceSection = !showPriceSection" type="button" name="add_update_price" id="add_update_price" value="Add/Update Price" />

            <div x-show="showPriceSection">
              <table class="table table-striped w-auto">
                <tr>
                  <th>Pricing Type</th>
                  <th>Price</th>
                </tr>
                <tr>
                  <td>Per Hour</td>
                  <td><input type="number" name="item[price_per_hour]" id="price_per_hour" value="{{ item.price_per_hour }}"></td>
                </tr>
                <tr>
                  <td>Per Day</td>
                  <td><input type="number" name="item[price_per_day]" id="price_per_day" value="{{ item.price_per_day }}"></td>
                </tr>
                <tr>
                  <td>Per Work Week(5 Days)</td>
                  <td><input type="number" name="item[price_per_work_week]" id="price_per_work_week" value="{{ item.price_per_work_week }}"></td>
                </tr>
                <tr>
                  <td>Per Calender Week(7 Days)</td>
                  <td><input type="number" name="item[price_per_calender_week]" id="price_per_calender_week" value="{{ item.price_per_calender_week }}"></td>
                </tr>
                <tr>
                  <td>Per Month</td>
                  <td><input type="number" name="item[price_per_month]" id="price_per_month" value="{{ item.price_per_month }}"></td>
                </tr>
              </table>
            </div>
          </div>

          <label for="quantity">{{ 'app.items.form.quantity' | t }}</label>
          <input type="number" id="quantity" name="item[quantity]" value="{{ item.quantity | default: 1 }}" />


          {% if item.availability == 'Customize' %}
          <div x-data="{isShowCusAvailability : true}">
          {% else %}
          <div x-data="{isShowCusAvailability : false}">
          {%endif%}

            <label for="availability">{{ 'app.items.form.availability' | t }}</label>
            <select @change="$event.target.value == 'Customize' ? isShowCusAvailability=true : isShowCusAvailability=false" id="availability" name="item[availability]">
              <option value="Mon to Fri (9:00AM - 6:00PM)" {% if item.availability == 'Mon to Fri (9:00AM - 6:00PM)' %}selected{% endif %}>Mon to Fri (9:00AM - 6:00PM)</option>
              <option value="Customize" {% if item.availability == 'Customize' %}selected{% endif %}>Customize</option>
            </select


            <!-- Custom Availability Section -- STARTS -->
            <div id="custom_availability_div" x-show="isShowCusAvailability"> 
              <div class="mt-3">

                <table class="table">
                <tr>
                <td>        
                <label class="block" for="pricing_type">Mon(From Hrs)</label>
                <select class="form-select" id="monday_from_hr" name="item[monday_from_hr]">
                  <option value="">From(Hour){{ monday_from_hr }}</option>
                  {% for i in (0..23) %}   

                    {% assign monday_from_hr = item.monday_from_hr | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if monday_from_hr == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                </td>

                <td>
                <label class="block" for="pricing_type">Mon(From Min)</label>
                <select class="form-select" id="monday_from_min" name="item[monday_from_min]">
                  <option value="">From(Minute)</option>
                  {% for i in (0..59) %}            
                    {% assign monday_from_min = item.monday_from_min | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if monday_from_min == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                </td>

                <td>
                <label class="block" for="pricing_type">Mon(To Hrs)</label>
                <select class="form-select" id="monday_to_hr" name="item[monday_to_hr]">
                  <option value="">Upto(Hour)</option>
                  {% for i in (0..23) %}            
                    {% assign monday_to_hr = item.monday_to_hr | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if monday_to_hr == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                </td>

                <td>
                <label class="block" for="pricing_type">Mon(To Min)</label>
                <select class="form-select" id="monday_to_min" name="item[monday_to_min]">
                  <option value="">Upto(Minute)</option>
                  {% for i in (0..59) %}            
                    {% assign monday_to_min = item.monday_to_min | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if monday_to_min == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                </td>


                {% include 'theme/simple/field_error', errors: item.errors.pricing_type %}

                </tr>
                </table>
              </div>

              <div class="mt-3">

                <table class="table">
                <tr>
                <td> 
                <label class="block" for="pricing_type">Tue(From Hrs)</label>
                <select class="form-select" id="tuesday_from_hr" name="item[tuesday_from_hr]">
                  <option value="">From(Hour)</option>
                  {% for i in (0..23) %}            
                    {% assign tuesday_from_hr = item.tuesday_from_hr | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if tuesday_from_hr == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                </td>

                <td> 
                <label class="block" for="pricing_type">Tue(From Min)</label>
                <select class="form-select" id="tuesday_from_min" name="item[tuesday_from_min]">
                  <option value="">From(Minute)</option>
                  {% for i in (0..59) %}            
                    {% assign tuesday_from_min = item.tuesday_from_min | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if tuesday_from_min == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                </td>

                <td> 
                <label class="block" for="pricing_type">Tue(To Hrs)</label>
                <select class="form-select" id="tuesday_to_hr" name="item[tuesday_to_hr]">
                  <option value="">Upto(Hour)</option>
                  {% for i in (0..23) %}            
                    {% assign tuesday_to_hr = item.tuesday_to_hr | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if tuesday_to_hr == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                </td>

                <td> 
                <label class="block" for="pricing_type">Tue(To Min)</label>
                <select class="form-select" id="tuesday_to_min" name="item[tuesday_to_min]">
                  <option value="">Upto(Minute)</option>
                  {% for i in (0..59) %}            
                    {% assign tuesday_to_min = item.tuesday_to_min | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if tuesday_to_min == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                </td>
                </tr>
                </table>


                {% include 'theme/simple/field_error', errors: item.errors.pricing_type %}
              </div>


              <div class="mt-3">

                <table class="table">
                <tr>
                <td> 
                <label class="block" for="pricing_type">Wed(From Hrs)</label>
                <select class="form-select" id="wednesday_from_hr" name="item[wednesday_from_hr]">
                  <option value="">From(Hour)</option>
                  {% for i in (0..23) %}            
                    {% assign wednesday_from_hr = item.wednesday_from_hr | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if wednesday_from_hr == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                </td>

                <td> 
                <label class="block" for="pricing_type">Wed(From Min)</label>
                <select class="form-select" id="wednesday_from_min" name="item[wednesday_from_min]">
                  <option value="">From(Minute)</option>
                  {% for i in (0..59) %}            
                    {% assign wednesday_from_min = item.wednesday_from_min | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if wednesday_from_min == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                </td>

                <td> 
                <label class="block" for="pricing_type">Wed(To Hrs)</label>
                <select class="form-select" id="wednesday_to_hr" name="item[wednesday_to_hr]">
                  <option value="">Upto(Hour)</option>
                  {% for i in (0..23) %}            
                    {% assign wednesday_to_hr = item.wednesday_to_hr | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if wednesday_to_hr == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                </td>

                <td> 
                <label class="block" for="pricing_type">Wed(To Min)</label>
                <select class="form-select" id="wednesday_to_min" name="item[wednesday_to_min]">
                  <option value="">Upto(Minute)</option>
                  {% for i in (0..59) %}            
                    {% assign wednesday_to_min = item.wednesday_to_min | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if wednesday_to_min == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                </td>
                </tr>
                </table>


                {% include 'theme/simple/field_error', errors: item.errors.pricing_type %}
              </div>

              <div class="mt-3">

                <table class="table">
                <tr>
                <td> 
                <label class="block" for="pricing_type">Thurs(From Hrs)</label>
                <select class="form-select" id="thursday_from_hr" name="item[thursday_from_hr]">
                  <option value="">From(Hour)</option>
                  {% for i in (0..23) %}            
                    {% assign thursday_from_hr = item.thursday_from_hr | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if thursday_from_hr == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                </td>

                <td>
                <label class="block" for="pricing_type">Thurs(From Min)</label>
                <select class="form-select" id="thursday_from_min" name="item[thursday_from_min]">
                  <option value="">From(Minute)</option>
                  {% for i in (0..59) %}            
                    {% assign thursday_from_min = item.thursday_from_min | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if thursday_from_min == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                </td>

                <td>
                <label class="block" for="pricing_type">Thurs(To Hrs)</label>
                <select class="form-select" id="thursday_to_hr" name="item[thursday_to_hr]">
                  <option value="">Upto(Hour)</option>
                  {% for i in (0..23) %}            
                    {% assign thursday_to_hr = item.thursday_to_hr | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if thursday_to_hr == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                <td>

                <td>
                <label class="block" for="pricing_type">Thurs(To Min)</label>
                <select class="form-select" id="thursday_to_min" name="item[thursday_to_min]">
                  <option value="">Upto(Minute)</option>
                  {% for i in (0..59) %}            
                    {% assign thursday_to_min = item.thursday_to_min | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if thursday_to_min == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                </td>
                </tr>
                </table>

                {% include 'theme/simple/field_error', errors: item.errors.pricing_type %}
              </div>

              <div class="mt-3">

                <table class="table">
                <tr>
                <td>
                <label class="block" for="pricing_type">Fri(From Hrs)</label>
                <select class="form-select" id="friday_from_hr" name="item[friday_from_hr]">
                  <option value="">From(Hour)</option>
                  {% for i in (0..23) %}            
                    {% assign friday_from_hr = item.friday_from_hr | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if friday_from_hr == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                </td>

                <td>
                <label class="block" for="pricing_type">Fri(From Min)</label>
                <select class="form-select" id="friday_from_min" name="item[friday_from_min]">
                  <option value="">From(Minute)</option>
                  {% for i in (0..59) %}            
                    {% assign friday_from_min = item.friday_from_min | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if friday_from_min == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                </td>

                <td>
                <label class="block" for="pricing_type">Fri(To Hrs)</label>
                <select class="form-select" id="friday_to_hr" name="item[friday_to_hr]">
                  <option value="">Upto(Hour)</option>
                  {% for i in (0..23) %}            
                    {% assign friday_to_hr = item.friday_to_hr | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if friday_to_hr == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                </td>

                <td>
                <label class="block" for="pricing_type">Fri(To Min)</label>
                <select class="form-select" id="friday_to_min" name="item[friday_to_min]">
                  <option value="">Upto(Minute)</option>
                  {% for i in (0..59) %}            
                    {% assign friday_to_min = item.friday_to_min | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if friday_to_min == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                </td>
                </tr>
                </table>

                {% include 'theme/simple/field_error', errors: item.errors.pricing_type %}
              </div>

              <div class="mt-3">

                <table class="table">
                <tr>
                <td>
                <label class="block" for="pricing_type">Sat(From Hrs)</label>
                <select class="form-select" id="saturday_from_hr" name="item[saturday_from_hr]">
                  <option value="">From(Hour)</option>
                  {% for i in (0..23) %}            
                    {% assign saturday_from_hr = item.saturday_from_hr | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if saturday_from_hr == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                </td>

                <td>
                <label class="block" for="pricing_type">Sat(From Min)</label>
                <select class="form-select" id="saturday_from_min" name="item[saturday_from_min]">
                  <option value="">From(Minute)</option>
                  {% for i in (0..59) %}            
                    {% assign saturday_from_min = item.saturday_from_min | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if saturday_from_min == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                </td>

                <td>
                <label class="block" for="pricing_type">Sat(To Hrs)</label>
                <select class="form-select" id="saturday_to_hr" name="item[saturday_to_hr]">
                  <option value="">Upto(Hour)</option>
                  {% for i in (0..23) %}            
                    {% assign saturday_to_hr = item.saturday_to_hr | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if saturday_to_hr == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                </td>

                <td>
                <label class="block" for="pricing_type">Sat(To Min)</label>
                <select class="form-select" id="saturday_to_min" name="item[saturday_to_min]">
                  <option value="">Upto(Minute)</option>
                  {% for i in (0..59) %}            
                    {% assign saturday_to_min = item.saturday_to_min | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if saturday_to_min == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                </td>
                </tr>
                </table>

                {% include 'theme/simple/field_error', errors: item.errors.pricing_type %}
              </div>

              <div class="mt-3">

                <table class="table">
                <tr>
                <td>
                <label class="block" for="pricing_type">Sun(From Hrs)</label>
                <select class="form-select" id="sunday_from_hr" name="item[sunday_from_hr]">
                  <option value="">From(Hour)</option>
                  {% for i in (0..23) %}            
                    {% assign sunday_from_hr = item.sunday_from_hr | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if sunday_from_hr == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                </td>

                <td>
                <label class="block" for="pricing_type">Sun(From Min)</label>
                <select class="form-select" id="sunday_from_min" name="item[sunday_from_min]">
                  <option value="">From(Minute)</option>
                  {% for i in (0..59) %}            
                    {% assign sunday_from_min = item.sunday_from_min | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if sunday_from_min == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                </td>

                <td>
                <label class="block" for="pricing_type">Sun(To Hrs)</label>
                <select class="form-select" id="sunday_to_hr" name="item[sunday_to_hr]">
                  <option value="">Upto(Hour)</option>
                  {% for i in (0..23) %}            
                    {% assign sunday_to_hr = item.sunday_to_hr | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if sunday_to_hr == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                </td>

                <td>
                <label class="block" for="pricing_type">Sun(To Min)</label>
                <select class="form-select" id="sunday_to_min" name="item[sunday_to_min]">
                  <option value="">Upto(Minute)</option>
                  {% for i in (0..59) %}            
                    {% assign sunday_to_min = item.sunday_to_min | plus: 0 %}
                    {% assign i = i | plus: 0 %}
                 
                    <option value="{{ i }}" {% if sunday_to_min == i %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
                </select>
                </td>
                </tr>
                </table>

                {% include 'theme/simple/field_error', errors: item.errors.pricing_type %}
              </div>

            </div>
          </div>
          <!-- Custom Availability Section -- ENDS -->


          <label for="property_status">{{ 'app.items.form.property_status' | t }}</label>
          <select class="form-select" id="property_status" name="item[property_status]">
            <option value="active" {% if item.property_status == 'active' %}selected{% endif %}>Active</option>
            <option value="inactive" {% if item.property_status == 'inactive' %}selected{% endif %}>Inactive</option>
          </select>


          <!--<h4 class="margin-top-50 margin-bottom-0">Social</h4>

          <label><i class="fa fa-twitter"></i> Twitter</label>
          <input value="https://www.twitter.com/" type="text">

          <label><i class="fa fa-facebook-square"></i> Facebook</label>
          <input value="https://www.facebook.com/" type="text">

          <label><i class="fa fa-google-plus"></i> Google+</label>
          <input value="https://www.google.com/" type="text">

          <label><i class="fa fa-linkedin"></i> Linkedin</label>
          <input value="https://www.linkedin.com/" type="text">-->


          <button class="button margin-top-20 margin-bottom-20">Save Changes</button>

          </form>
        </div>

      </div>
    </div>

  </div>
</div>

{% liquid
  assign photos = photos | default: item.photos
  render 'theme/simple/photos/uppy_form', object_uuid: item_uuid, presigned_url: presigned_url, user_id: user.id, photo_type: 'photo', note: 'Images only, up to 3 files, 2MB each', max_number_of_files: 3, existing_photos: photos
%}


{% comment %}

{% liquid
  if item.id
    assign path = 'update'
  else
    assign path = 'create'
  endif
  assign uuid = '' | uuid
  assign item_uuid = item.uuid | default: uuid
  assign image_delete_token = authenticity_token | default: context.authenticity_token
%}

<div class="container flex flex-wrap items-center mx-auto">
  <input type="hidden" name="image_delete_token" id="image_delete_token" value="{{ image_delete_token }}" />
  <form action="/dashboard/items/{{ path }}" method="post" id="property_frm">
    {% include 'authenticity_token' %}

    {% if item.id %}
    <input type="hidden" name="item[id]" value="{{ item.id }}" />
    {% endif %}
    <input type="hidden" name="item[uuid]" value="{{ item_uuid }}" />

    <div class="my-3">
      <label class="block" for="name">{{ 'app.items.form.name' | t }}</label>
      <input class="w-2/3 form-input" type="text" id="name" name="item[name]" value="{{ item.name }}" autofocus required />
      {% include 'theme/simple/field_error', errors: object.errors.name %}
    </div>

    <div class="mt-3">
      <label class="block">{{ 'app.items.form.photos' | t }}</label>
      {% include 'theme/simple/photos/uppy_area' %}
    </div>

    {% if path == 'update' %}
      <div class="mt-3" x-data="{ isOpen: false }">
          <label class="block" for="price">Images</label>
          <a href="javascript:void(0)"
              class="bg-blue-700 text-white mt-4 text-sm rounded"    
              @click="isOpen = true
              $nextTick(() => $refs.modalCloseButton.focus())
              "               
          >View Photos</a>

          <div 
              class="right-10 z-20 w-half py-2 mt-2 bg-panel rounded-md shadow-xl"   
              x-show="isOpen"       
          >
              <div class="container mx-auto rounded p-4 mt-2 overflow-y-auto">
                  <div class="rounded px-8 py-8">
                      <h1 class="font-bold mb-3 text-4xl">Photos</h1>
                      <div class="modal-body">
                          <table name="price_table" id="price_table" border="1" cellpadding="1" cellspacing="0">
                          <tr>
                            <th align="left" style="width:280px;">Image</th>
                            <th align="left">Action</th>
                          </tr>

                          {% if item.photos.size > 0 %}

                          {% for p in item.photos limit: 5 %}
                          <tr id="remove_image_tr_{{ p.id }}"">
                            <td><img class="markdown img" width="200" height="100" src="{{ p.photo.versions.uncropped }}" alt="{{ item.name }}"></td>
                            <td><a data-property-photo-id="{{ p.id }}" class="remove_image_a" id="remove_image_{{ p.id }}" href="javascript:void(0);">Remove</a></td>
                          </tr>
                          {% endfor %}
                          
                          {% endif %}        
                          </table>      
                      </div>
                      <div>&nbsp;</div>
                      <div class="mt-2">
                          <a href="javascript:void();"
                              class="bg-blue-700 text-white px-4 py-3 mt-4 text-sm rounded"
                              @click="isOpen = false"
                              x-ref="modalCloseButton"
                          >
                              Close
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    {% endif %}
    
    <div class="mt-3">
      <label class="block" for="category">{{ 'app.items.form.category' | t }}</label>
      <select class="form-select" id="category" name="item[category]">
        {% for category in lib.categories %}
          {% assign ident = category | split: '/' | size | minus: 1 | times: 2 %}
          <option value="{{ category }}" {% if item.category == category %}selected{% endif %}>
              {% for step in (1..ident) %} {% print "&nbsp;" %} {% endfor %}
              {{ 'categories.' | append: category | t }}
          </option>
        {% endfor %}
      </select>

      {% include 'theme/simple/field_error', errors: object.errors.category %}
    </div>

    <div class="mt-3">
      <label class="block" for="short_description">{{ 'app.items.form.short_description' | t }}</label>
      <textarea class="w-full form-input" type="text" id="short_description" name="item[short_description]" rows="3" required>{{ item.short_description }}</textarea>

      {% include 'theme/simple/field_error', errors: item.errors.short_description %}
    </div>


    <div class="mt-3">
      <label class="block" for="description">{{ 'app.items.form.description' | t }}</label>
      <textarea class="w-full form-input" type="text" id="description" name="item[description]" rows="3" required>{{ item.description }}</textarea>

      {% include 'theme/simple/field_error', errors: object.errors.description %}
    </div>

    <div class="mt-3">
      <label class="block" for="location_name">{{ 'app.items.form.location_name' | t }}</label>
      <input class="w-2/3 form-input" type="text" id="location_name" name="item[location_name]" value="{{ item.location_name }}" autofocus required />

      {% include 'theme/simple/field_error', errors: item.errors.location_name %}
    </div>

    <div class="mt-3">
      <label class="block" for="location_address">{{ 'app.items.form.location_address' | t }}</label>
      <textarea class="w-full form-input" type="text" id="location_address" name="item[location_address]" rows="3" required>{{ item.location_address }}</textarea>

      {% include 'theme/simple/field_error', errors: item.errors.location_address %}
    </div>

    <div class="mt-3">
      <label class="block" for="zip_code">{{ 'app.items.form.zip_code' | t }}</label>
      <input class="w-2/3 form-input" type="text" id="zip_code" name="item[zip_code]" value="{{ item.zip_code }}" autofocus required />

      <span style="color:red; display:none;" id="err_zip_code"></span>
      {% include 'theme/simple/field_error', errors: item.errors.zip_code %}
    </div>

    <div class="mt-3">
      <label class="block" for="location_type">{{ 'app.items.form.location_type' | t }}</label>
      <select class="form-select" id="location_type" name="item[location_type]">
        <option value="Business" {% if item.location_type == 'Business' %}selected{% endif %}>Business</option>
        <option value="Co-Working" {% if item.location_type == 'Co-Working' %}selected{% endif %}>Co-Working</option>
        <option value="Public" {% if item.location_type == 'Public' %}selected{% endif %}>Public</option>
        <option value="Executive Suites" {% if item.location_type == 'Executive Suites' %}selected{% endif %}>Executive Suites</option>
      </select>

      {% include 'theme/simple/field_error', errors: item.errors.location_type %}
    </div>

    <div class="mt-3" style="display:none;">
      <label class="block" for="pricing_type">{{ 'app.items.form.pricing_type' | t }}</label>
      <select class="form-select" id="pricing_type" name="item[pricing_type]">
        <option value="Per Hour" {% if item.pricing_type == 'Per Hour' %}selected{% endif %}>Per Hour</option>
        <option value="Per Day" {% if item.pricing_type == 'Per Day' %}selected{% endif %}>Per Day</option>
        <option value="Per work week (5 days)" {% if item.pricing_type == 'Per work week (5 days)' %}selected{% endif %}>Per work week (5 days)</option>
        <option value="Per calendar week (7 days)" {% if item.pricing_type == 'Per calendar week (7 days)' %}selected{% endif %}>Per calendar week (7 days)</option>
        <option value="Per calendar month" {% if item.pricing_type == 'Per calendar month' %}selected{% endif %}>Per calendar month</option>
      </select>

      {% include 'theme/simple/field_error', errors: item.errors.pricing_type %}
    </div>

     <div class="mt-3" style="display:none;">
      <label class="block" for="price">{{ 'app.items.form.price' | t }}</label>
      <!-- TODO: Add currency prefix $[input]  -->
      <input class="w-32 form-input" type="number" id="price" name="item[price]"
        value="{{ item.price | default: 1000 | pricify_cents | replace_regex: '[\$\,]', '' }}" />
      {% include 'theme/simple/field_error', errors: object.errors.price %}
    </div>
    
    <!-- Trigger/Open The Modal -->
    <!--<button id="myBtn">Open Modal</button>-->

    <!-- The Modal -->
    <div class="mt-3" x-data="{ isOpenPrice: false }">
          <label class="block" for="price">{{ 'app.items.form.price' | t }}</label>
          <a href="javascript:void(0)"
              class="bg-blue-700 text-white mt-4 text-sm rounded"    
              @click="isOpenPrice = true
              $nextTick(() => $refs.modalPriceCloseButton.focus())
              "               
          >Add/View Price</a>

          <div 
              class="right-10 z-20 w-half py-2 mt-2 bg-panel rounded-md shadow-xl"   
              x-show="isOpenPrice"       
          >
              <div class="container mx-auto rounded p-4 mt-2 overflow-y-auto">
                  <div class="rounded px-8 py-8">
                      <h1 class="font-bold mb-3 text-4xl">Prices</h1>
                      <div class="modal-body">
                          <table name="price_table" id="price_table" border="1" cellpadding="1" cellspacing="0">
                          <tr>
                            <th align="left" style="width:280px;">Pricing Type:</th>
                            <th align="left">Price</th>
                          </tr>
                          <tr>
                            <td>Per Hour</td>
                            <td><input type="number" name="item[price_per_hour]" id="price_per_hour" value="{{ item.price_per_hour }}"></td>
                          </tr>
                          <tr>
                            <td>Per Day</td>
                            <td><input type="number" name="item[price_per_day]" id="price_per_day" value="{{ item.price_per_day }}"></td>
                          </tr>
                          <tr>
                            <td>Per Work Week(5 Days)</td>
                            <td><input type="number" name="item[price_per_work_week]" id="price_per_work_week" value="{{ item.price_per_work_week }}"></td>
                          </tr>
                          <tr>
                            <td>Per Calender Week(7 Days)</td>
                            <td><input type="number" name="item[price_per_calender_week]" id="price_per_calender_week" value="{{ item.price_per_calender_week }}"></td>
                          </tr>
                          <tr>
                            <td>Per Month</td>
                            <td><input type="number" name="item[price_per_month]" id="price_per_month" value="{{ item.price_per_month }}"></td>
                          </tr>
                          
                          </table>

                      </div>
                      <div>&nbsp;</div>
                      <div class="mt-2">
                          <a href="javascript:void();"
                              class="bg-blue-700 text-white px-4 py-3 mt-4 text-sm rounded"
                              @click="isOpenPrice = false"
                              x-ref="modalPriceCloseButton"
                          >
                              Close
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

    <div class="mt-3">
        <label class="block" for="quantity">{{ 'app.items.form.quantity' | t }}</label>
        <input class="w-32 form-input" type="number" id="quantity" name="item[quantity]" value="{{ item.quantity | default: 1 }}" />
        {% include 'theme/simple/field_error', errors: item.errors.quantity %}
    </div>

    {% if item.availability == 'Customize' %}
    <div x-data="{isShowCusAvailability : true}">
    {% else %}
    <div x-data="{isShowCusAvailability : false}">
    {%endif%}

    <div class="mt-3">
      <label class="block" for="availability">{{ 'app.items.form.availability' | t }}</label>
      <select class="form-select" @change="$event.target.value == 'Customize' ? isShowCusAvailability=true : isShowCusAvailability=false" id="availability" name="item[availability]">
        <option value="Mon to Fri (9:00AM - 6:00PM)" {% if item.availability == 'Mon to Fri (9:00AM - 6:00PM)' %}selected{% endif %}>Mon to Fri (9:00AM - 6:00PM)</option>
        <option value="Customize" {% if item.availability == 'Customize' %}selected{% endif %}>Customize</option>
      </select>

      {% include 'theme/simple/field_error', errors: item.errors.availability %}
    </div>

     <div id="custom_availability_div" x-show="isShowCusAvailability">    
      <div class="mt-3">

        <table border="0" style="width:100%" cellspacing="10">
        <tr>
        <td>        
        <label class="block" for="pricing_type">Mon(From Hrs)</label>
        <select class="form-select" id="monday_from_hr" name="item[monday_from_hr]">
          <option value="">From(Hour){{ monday_from_hr }}</option>
          {% for i in (0..23) %}   

            {% assign monday_from_hr = item.monday_from_hr | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if monday_from_hr == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </td>

        <td>
        <label class="block" for="pricing_type">Mon(From Min)</label>
        <select class="form-select" id="monday_from_min" name="item[monday_from_min]">
          <option value="">From(Minute)</option>
          {% for i in (0..59) %}            
            {% assign monday_from_min = item.monday_from_min | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if monday_from_min == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </td>

        <td>
        <label class="block" for="pricing_type">Mon(To Hrs)</label>
        <select class="form-select" id="monday_to_hr" name="item[monday_to_hr]">
          <option value="">Upto(Hour)</option>
          {% for i in (0..23) %}            
            {% assign monday_to_hr = item.monday_to_hr | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if monday_to_hr == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </td>

        <td>
        <label class="block" for="pricing_type">Mon(To Min)</label>
        <select class="form-select" id="monday_to_min" name="item[monday_to_min]">
          <option value="">Upto(Minute)</option>
          {% for i in (0..59) %}            
            {% assign monday_to_min = item.monday_to_min | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if monday_to_min == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </td>


        {% include 'theme/simple/field_error', errors: item.errors.pricing_type %}

        </tr>
        </table>
      </div>

      <div class="mt-3">

        <table border="0" style="width:100%" cellspacing="10">
        <tr>
        <td> 
        <label class="block" for="pricing_type">Tue(From Hrs)</label>
        <select class="form-select" id="tuesday_from_hr" name="item[tuesday_from_hr]">
          <option value="">From(Hour)</option>
          {% for i in (0..23) %}            
            {% assign tuesday_from_hr = item.tuesday_from_hr | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if tuesday_from_hr == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </td>

        <td> 
        <label class="block" for="pricing_type">Tue(From Min)</label>
        <select class="form-select" id="tuesday_from_min" name="item[tuesday_from_min]">
          <option value="">From(Minute)</option>
          {% for i in (0..59) %}            
            {% assign tuesday_from_min = item.tuesday_from_min | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if tuesday_from_min == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </td>

        <td> 
        <label class="block" for="pricing_type">Tue(To Hrs)</label>
        <select class="form-select" id="tuesday_to_hr" name="item[tuesday_to_hr]">
          <option value="">Upto(Hour)</option>
          {% for i in (0..23) %}            
            {% assign tuesday_to_hr = item.tuesday_to_hr | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if tuesday_to_hr == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </td>

        <td> 
        <label class="block" for="pricing_type">Tue(To Min)</label>
        <select class="form-select" id="tuesday_to_min" name="item[tuesday_to_min]">
          <option value="">Upto(Minute)</option>
          {% for i in (0..59) %}            
            {% assign tuesday_to_min = item.tuesday_to_min | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if tuesday_to_min == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </td>
        </tr>
        </table>


        {% include 'theme/simple/field_error', errors: item.errors.pricing_type %}
      </div>


      <div class="mt-3">

        <table border="0" style="width:100%" cellspacing="10">
        <tr>
        <td> 
        <label class="block" for="pricing_type">Wed(From Hrs)</label>
        <select class="form-select" id="wednesday_from_hr" name="item[wednesday_from_hr]">
          <option value="">From(Hour)</option>
          {% for i in (0..23) %}            
            {% assign wednesday_from_hr = item.wednesday_from_hr | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if wednesday_from_hr == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </td>

        <td> 
        <label class="block" for="pricing_type">Wed(From Min)</label>
        <select class="form-select" id="wednesday_from_min" name="item[wednesday_from_min]">
          <option value="">From(Minute)</option>
          {% for i in (0..59) %}            
            {% assign wednesday_from_min = item.wednesday_from_min | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if wednesday_from_min == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </td>

        <td> 
        <label class="block" for="pricing_type">Wed(To Hrs)</label>
        <select class="form-select" id="wednesday_to_hr" name="item[wednesday_to_hr]">
          <option value="">Upto(Hour)</option>
          {% for i in (0..23) %}            
            {% assign wednesday_to_hr = item.wednesday_to_hr | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if wednesday_to_hr == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </td>

        <td> 
        <label class="block" for="pricing_type">Wed(To Min)</label>
        <select class="form-select" id="wednesday_to_min" name="item[wednesday_to_min]">
          <option value="">Upto(Minute)</option>
          {% for i in (0..59) %}            
            {% assign wednesday_to_min = item.wednesday_to_min | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if wednesday_to_min == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </td>
        </tr>
        </table>


        {% include 'theme/simple/field_error', errors: item.errors.pricing_type %}
      </div>

      <div class="mt-3">

        <table border="0" style="width:100%" cellspacing="10">
        <tr>
        <td> 
        <label class="block" for="pricing_type">Thurs(From Hrs)</label>
        <select class="form-select" id="thursday_from_hr" name="item[thursday_from_hr]">
          <option value="">From(Hour)</option>
          {% for i in (0..23) %}            
            {% assign thursday_from_hr = item.thursday_from_hr | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if thursday_from_hr == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </td>

        <td>
        <label class="block" for="pricing_type">Thurs(From Min)</label>
        <select class="form-select" id="thursday_from_min" name="item[thursday_from_min]">
          <option value="">From(Minute)</option>
          {% for i in (0..59) %}            
            {% assign thursday_from_min = item.thursday_from_min | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if thursday_from_min == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </td>

        <td>
        <label class="block" for="pricing_type">Thurs(To Hrs)</label>
        <select class="form-select" id="thursday_to_hr" name="item[thursday_to_hr]">
          <option value="">Upto(Hour)</option>
          {% for i in (0..23) %}            
            {% assign thursday_to_hr = item.thursday_to_hr | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if thursday_to_hr == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        <td>

        <td>
        <label class="block" for="pricing_type">Thurs(To Min)</label>
        <select class="form-select" id="thursday_to_min" name="item[thursday_to_min]">
          <option value="">Upto(Minute)</option>
          {% for i in (0..59) %}            
            {% assign thursday_to_min = item.thursday_to_min | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if thursday_to_min == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </td>
        </tr>
        </table>

        {% include 'theme/simple/field_error', errors: item.errors.pricing_type %}
      </div>

      <div class="mt-3">

        <table border="0" style="width:100%" cellspacing="10">
        <tr>
        <td>
        <label class="block" for="pricing_type">Fri(From Hrs)</label>
        <select class="form-select" id="friday_from_hr" name="item[friday_from_hr]">
          <option value="">From(Hour)</option>
          {% for i in (0..23) %}            
            {% assign friday_from_hr = item.friday_from_hr | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if friday_from_hr == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </td>

        <td>
        <label class="block" for="pricing_type">Fri(From Min)</label>
        <select class="form-select" id="friday_from_min" name="item[friday_from_min]">
          <option value="">From(Minute)</option>
          {% for i in (0..59) %}            
            {% assign friday_from_min = item.friday_from_min | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if friday_from_min == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </td>

        <td>
        <label class="block" for="pricing_type">Fri(To Hrs)</label>
        <select class="form-select" id="friday_to_hr" name="item[friday_to_hr]">
          <option value="">Upto(Hour)</option>
          {% for i in (0..23) %}            
            {% assign friday_to_hr = item.friday_to_hr | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if friday_to_hr == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </td>

        <td>
        <label class="block" for="pricing_type">Fri(To Min)</label>
        <select class="form-select" id="friday_to_min" name="item[friday_to_min]">
          <option value="">Upto(Minute)</option>
          {% for i in (0..59) %}            
            {% assign friday_to_min = item.friday_to_min | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if friday_to_min == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </td>
        </tr>
        </table>

        {% include 'theme/simple/field_error', errors: item.errors.pricing_type %}
      </div>

      <div class="mt-3">

        <table border="0" style="width:100%" cellspacing="10">
        <tr>
        <td>
        <label class="block" for="pricing_type">Sat(From Hrs)</label>
        <select class="form-select" id="saturday_from_hr" name="item[saturday_from_hr]">
          <option value="">From(Hour)</option>
          {% for i in (0..23) %}            
            {% assign saturday_from_hr = item.saturday_from_hr | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if saturday_from_hr == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </td>

        <td>
        <label class="block" for="pricing_type">Sat(From Min)</label>
        <select class="form-select" id="saturday_from_min" name="item[saturday_from_min]">
          <option value="">From(Minute)</option>
          {% for i in (0..59) %}            
            {% assign saturday_from_min = item.saturday_from_min | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if saturday_from_min == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </td>

        <td>
        <label class="block" for="pricing_type">Sat(To Hrs)</label>
        <select class="form-select" id="saturday_to_hr" name="item[saturday_to_hr]">
          <option value="">Upto(Hour)</option>
          {% for i in (0..23) %}            
            {% assign saturday_to_hr = item.saturday_to_hr | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if saturday_to_hr == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </td>

        <td>
        <label class="block" for="pricing_type">Sat(To Min)</label>
        <select class="form-select" id="saturday_to_min" name="item[saturday_to_min]">
          <option value="">Upto(Minute)</option>
          {% for i in (0..59) %}            
            {% assign saturday_to_min = item.saturday_to_min | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if saturday_to_min == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </td>
        </tr>
        </table>

        {% include 'theme/simple/field_error', errors: item.errors.pricing_type %}
      </div>

      <div class="mt-3">

        <table border="0" style="width:100%" cellspacing="10">
        <tr>
        <td>
        <label class="block" for="pricing_type">Sun(From Hrs)</label>
        <select class="form-select" id="sunday_from_hr" name="item[sunday_from_hr]">
          <option value="">From(Hour)</option>
          {% for i in (0..23) %}            
            {% assign sunday_from_hr = item.sunday_from_hr | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if sunday_from_hr == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </td>

        <td>
        <label class="block" for="pricing_type">Sun(From Min)</label>
        <select class="form-select" id="sunday_from_min" name="item[sunday_from_min]">
          <option value="">From(Minute)</option>
          {% for i in (0..59) %}            
            {% assign sunday_from_min = item.sunday_from_min | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if sunday_from_min == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </td>

        <td>
        <label class="block" for="pricing_type">Sun(To Hrs)</label>
        <select class="form-select" id="sunday_to_hr" name="item[sunday_to_hr]">
          <option value="">Upto(Hour)</option>
          {% for i in (0..23) %}            
            {% assign sunday_to_hr = item.sunday_to_hr | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if sunday_to_hr == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </td>

        <td>
        <label class="block" for="pricing_type">Sun(To Min)</label>
        <select class="form-select" id="sunday_to_min" name="item[sunday_to_min]">
          <option value="">Upto(Minute)</option>
          {% for i in (0..59) %}            
            {% assign sunday_to_min = item.sunday_to_min | plus: 0 %}
            {% assign i = i | plus: 0 %}
         
            <option value="{{ i }}" {% if sunday_to_min == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </td>
        </tr>
        </table>

        {% include 'theme/simple/field_error', errors: item.errors.pricing_type %}
      </div>

    </div>

    <div class="mt-3">
      <label class="block" for="property_status">{{ 'app.items.form.property_status' | t }}</label>
      <select class="form-select" id="property_status" name="item[property_status]">
        <option value="active" {% if item.property_status == 'active' %}selected{% endif %}>Active</option>
        <option value="inactive" {% if item.property_status == 'inactive' %}selected{% endif %}>Inactive</option>
      </select>

      {% include 'theme/simple/field_error', errors: item.errors.property_status %}
    </div>

    {% comment %}
    <div class="mt-3">
      <label class="block" for="tags">Tags</label>
      <input class="w-full form-input" type="text" id="tags" name="item[tags]" value="{{ item.tags | join: ',' }}" />
      {% if item.errors.tags %}
      <span class="text-red-800">{{ item.errors.tags }}</span>
      {% endif %}
    </div>
    {% endcomment %}

   
    <!--<button class="mt-8 button" value="{{ path }}">{{ 'app.items.form.submit' | t }}</button>-->
    <input class="mt-8 button" type="button" name="property_submit" id="property_submit" value="{{ path }}" />
  </form>

</div>
{% liquid
  assign photos = photos | default: item.photos
  render 'theme/simple/photos/uppy_form', object_uuid: item_uuid, presigned_url: presigned_url, user_id: user.id, photo_type: 'photo', note: 'Images only, up to 3 files, 2MB each', max_number_of_files: 3, existing_photos: photos
%}
{% endcomment %}