{%
  assign breadcrumbs = context.page.metadata.breadcrumbs
%}
<div id="titlebar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <h2>My Profile</h2>

        <!-- Breadcrumbs -->
        <nav id="breadcrumbs">
          <ul>
            
            {% for breadcrumb in breadcrumbs %}

            {% liquid
              assign is_translation = breadcrumb.label | slice: 0, 4

              if is_translation == 'app.'
                assign label = breadcrumb.label | t
              else
                assign label = breadcrumb.label
              endif
            %}

            <li>
              {% if forloop.last %}
                <!--<h2>-->
              {% else %}
                {% if breadcrumb.url %}
                  <a href="{{ breadcrumb.url }}">
                {% endif %}
              {% endif %}
                  {{ label }}
              {% if forloop.last %}
                {% if value %}
                    ({{ value }})
                {% endif %}
                <!--</h2>-->
              {% else %}
                {% if breadcrumb.url %}
                  </a>
                {% endif %}
                
              {% endif %}
            </li>

            {% endfor %}
          </ul>
        </nav>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    {% liquid 
    render 'theme/simple/dashboard/sidebar'
    %}

    
    <div class="col-md-8">
      {% if context.params.delete_status and context.params.delete_status == 'success' %}
      <div class="alert alert-success text-success">Item has been deleted successfully.</div>
      {% endif %}

      <table class="manage-table responsive-table">

        <tbody><tr>
          <th><i class="fa fa-file-text"></i> Property</th>
          <th class="expire-date"><i class="fa fa-calendar"></i> Status</th>
          <th></th>
        </tr>

        
        {% for item in items.results %}

        {% function item_url = 'link_to', path: '/items/', item: item %}


        <!-- Item #1 -->
        <tr>
          <td class="title-container">
            <img width="121" height="93" src="{{ item.photos[0].photo.url }}" alt="">
            <div class="title">

              {%liquid
                assign property_name_length = item.name | size
                assign property_address_length = item.location_address | size
              %}

              <h4><a href="/dashboard/items/edit?id={{ item.id }}">{{ item.name | slice: 0, 15 }}{% if property_name_length > 15 %}...{%endif%}</a></h4>
              <span>{{ item.location_address | slice: 0, 25 }}{% if property_address_length > 25 %}...{%endif%}</span>
              <span class="table-property-price">{{ item.category }}</span>
            </div>
          </td>
          <td class="expire-date">{% print item.property_status | t %}</td>
          <td class="action">
            <a href="/dashboard/items/edit?id={{ item.id }}"><i class="fa fa-pencil"></i> Edit</a>
            <!--<a href="#"><i class="fa  fa-eye-slash"></i> Hide</a>-->
            <a href="/dashboard/items/delete?id={{ item.id }}" class="delete"><i class="fa fa-remove"></i> Delete</a>
          </td>
        </tr>
        {% endfor %}


      </tbody></table>
      <!--<a href="submit-property.html" class="margin-top-40 button">Submit New Property</a>-->
    </div>

  </div>
</div>


{% comment %}
  <a href="?" class="button {% if filters.query.status == blank %}{%else%}button-secondary{%endif%} button-small"> {% print 'app.items.all' | t %} </a>
{% for s in filters.statuses.items %}
  <a href="?status={{ s[0] }}" class="button {% if s[0] == filters.query.status %}{%else%}button-secondary{%endif%} button-small">
    {{ s[1] }}
  </a>
{% endfor %}
{% endcomment %}


{% comment %}
{% if items.results.size > 0 %}
  <table class="w-full table-auto">
    <thead>
      <tr>
        <th class="px-4 py-2 text-lg font-medium text-left">{{ "app.item" | t }}</th>
        <th class="px-4 py-2 text-lg font-medium text-left">{{ "app.items.attr.category" | t }}</th>
        <th class="px-4 py-2 text-lg font-medium text-left">{{ "app.status" | t }}</th>
        <th class="px-4 py-2 text-lg font-medium text-left">{{ "app.created_at" | t }}</th>
        <th class="px-4 py-2 text-lg font-medium text-left">{{ "app.dashboard-items.actions" | t }}</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items.results %}
        <tr>
          <td class="px-4 py-2 border-b">
            {% function item_url = 'link_to', path: '/items/', item: item %}
            <a href="{{ item_url }}">
              {{ item.name }}
            </a>
          </td>
          <td class="px-4 py-2 border-b">{{ item.category }}</td>

          <!--<td class="px-4 py-2 border-b">
            <select class="form-select" name="status" data-item-status-object-id="{% print item.id %}" data-item-status-scope="app.statuses.items">
              {% for s in filters.statuses.items %}
                <option value="{{ s[0] }}" {% if item.status.name == s[0] %}selected{% endif %}>
                  {{ s[1] }}
                </option>
              {% endfor %}
            </select>
            <small>{% print item.c__status | t %}</small>
          </td>-->
          <td class="px-4 py-2 border-b">{% print item.property_status | t %}</td>
          <td class="px-4 py-2 border-b">{{ item.created_at | l: 'compact' }}</td>
          <!--
          <td class="px-4 py-2 border-b">
            {{ item.status.name | default: 'missing-state-invalid-order' | t }}
            {% if item.order.status.timestamp %}
            <br/><small>{{ item.order.status.timestamp | to_time | l }}</small>
            {% endif %}
          </td>
          -->
          <td class="px-4 py-2 border-b">
            <a href="/dashboard/items/edit?id={{ item.id }}" class="button">{{ 'app.edit' | t }}</a>
            <form action="/dashboard/items/delete" method="post" class="ml-2 inline"
              onSubmit="if(!confirm('{{ 'app.confirm-delete' | t }}')){ return false; }"
            >
              {% include 'authenticity_token' %}
              <input type="hidden" name="id" value="{{ item.id }}">

              <button id="deletebutton" class="button button-secondary">{{ 'app.delete' | t }}</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>{{ 'app.items.none' | t }}</p>
  <div class="flex mt-4">
    <a href="/dashboard/items/new" class="w-auto flex-0 button">
      {{ 'app.dashboard-items.list-your-first-item' | t }}
    </a>
  </div>
{% endif %}
{% endcomment %}