<!-- Listing Item -->

{% liquid
  function url = "link_to", object: model
  assign default_photo = "https://dummyimage.com/800x4:3/eee/000&text=edit-" | append: model.type | append: '-and-upload-cover-photo'
%}
<div class="listing-item">

  <a href="{{ url }}" class="listing-img-container">
    <div class="listing-carousel">
      <div><img src="{{ model.photo.photo.versions.small | default: default_photo }}" alt="{{ object.name | default: object.id | truncate: 120 }}"></div>
    </div>
  </a>
  
  <div class="listing-content">

    <div class="listing-title">
      <h4><a href="{{ url }}">{{ model.name }}</a></h4>
      <a href="{{ url }}" class="listing-address popup-gmaps">
        <i class="fa fa-map-marker"></i>{{ model.location_address }}
      </a>

      <a href="{{ url }}" class="details button border">Details</a>
    </div>

  </div>

</div>
<!-- Listing Item / End -->