<div class="flex flex-wrap lg:flex-nowrap items-end my-6">
  <div class="w-full mb-5 lg:mb-0 flex-0 lg:flex-1 lg:w-auto">
    <label for="k" class="block mb-1 w-full capitalize">{{ 'app.search.keywords' | t }}</label>
    <input class="w-full form-input"
      name="keyword"
      id="keyword"
      type="text"
      value="{{ filters.query.keyword | default: "" | raw_escape_string }}"
     />
  </div>

  <div class="w-full mb-5 md:mb-0 lg:ml-6 md:w-auto">
    <label for="category" class="block mb-1 capitalize">{{ 'app.search.category' | t }}</label>
    <select class="w-full form-select" id="category" name="category">
      <option value="" class="">{{ 'app.search.all_categories' | t }}</option>
      {% for category in filters.categories %}
        {% assign ident = category | split: '/' | size | minus: 1 | times: 2 %}
        <option value="{{ category }}" {% if filters.query.category == category %}selected{% endif %}>
          {% for step in (1..ident) %} {% print "&nbsp;" %} {% endfor %}
          {{ 'categories.' | append: category | t }}
        </option>
      {% endfor %}
    </select>
  </div>

  <div class="w-full mb-5 md:mb-0 md:mx-6 md:w-auto">
    <label for="sort_by" class="block mb-1 capitalize">{{ 'app.search.sort_by' | t }}</label>
    <select class="w-full form-select" id="sort_by" name="sort_by">
      {% assign sort = filters.query.sort_by | default: 'relevance' %}
      {% for s in filters.sort_options %}
        <option value="{{ s[0] }}" {% if sort == s[0] %}selected{% endif %}>{{ s[1] }}</option>
      {% endfor %}
    </select>
  </div>
</div>

<div class="flex flex-wrap lg:flex-nowrap items-end my-6">

  <div class="w-full mb-5 md:mb-0 md:mx-6 md:w-auto">
    <label for="sort_by" class="block mb-1 capitalize">{{ 'app.search.desk_type' | t }}</label>
    <input type="checkbox" name="chk_desk" id="chk_desk" value="Desk" />Desk&nbsp;
    <input type="checkbox" name="chk_meeting_rooms" id="chk_meeting_rooms" value="MeetingRoooms" />Meeting Rooms&nbsp;
    <input type="checkbox" name="chk_office_space" id="chk_office_space" value="OfficeSpace" />Office Space&nbsp;
    <input type="checkbox" name="chk_salon_booth" id="chk_salon_booth" value="SalonBooth" />Salon Booth&nbsp;
    <input type="checkbox" name="chk_events" id="chk_events" value="Events" />Events&nbsp;
    <input type="checkbox" name="chk_lecture_rooms" id="chk_lecture_rooms" value="LectureRooms" />LectureRooms
  </div>
</div>

<div class="flex flex-wrap lg:flex-nowrap items-end my-6">

  <div class="w-full mb-5 md:mb-0 md:mx-6 md:w-auto">
    <label for="sort_by" class="block mb-1 capitalize">{{ 'app.search.pricing_type' | t }}</label>
    <input type="checkbox" name="chk_per_hour" id="chk_per_hour" value="Per Hour" />Per Hour&nbsp;
    <input type="checkbox" name="chk_per_day" id="chk_per_day" value="Per Day" />Per Day&nbsp;
    <input type="checkbox" name="chk_per_week" id="chk_per_week" value="Per Week" />Per Work Week(5 Days)&nbsp;
    <input type="checkbox" name="chk_per_calender_week" id="chk_per_calender_week" value="Per Calender Week" />Per Calender Week(7 Days)&nbsp;
    <input type="checkbox" name="chk_per_month" id="chk_per_month" value="Per Month" />Per Month
  </div>
</div>

<div class="flex flex-wrap lg:flex-nowrap items-end my-6">
  
  <div class="w-full mb-5 md:mb-0 md:mx-6 md:w-auto">
    <label for="sort_by" class="block mb-1 capitalize">{{ 'app.search.location_type' | t }}</label>
    <input type="checkbox" name="chk_business" id="chk_business" value="Business" />Business&nbsp;
    <input type="checkbox" name="chk_co_working" id="chk_co_working" value="Co-Working" />Co-Working&nbsp;
    <input type="checkbox" name="chk_public" id="chk_public" value="Public" />Public&nbsp;
    <input type="checkbox" name="chk_executive_suites" id="chk_executive_suites" value="Executive Suites" />Executive Suites
    <input type="checkbox" name="chk_per_month" id="chk_per_month" value="Per Month" />Per Month
  </div>


  <button name="submit" value="search" class="w-full md:w-auto ml-auto button">{{ 'app.search.search' | t }}</button>
</div>

<p class="text-lg text-gray-700">
  {{ 'app.total_entries' | t }} {{ items.total_entries }}
</p>
