{%
      assign breadcrumbs = context.page.metadata.breadcrumbs
%}
<div id="titlebar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <h2>My Profile</h2>

        <!-- Breadcrumbs -->
        <nav id="breadcrumbs">
          <ul>
            
            {% for breadcrumb in breadcrumbs %}

            {% liquid
              assign is_translation = breadcrumb.label | slice: 0, 4

              if is_translation == 'app.'
                assign label = breadcrumb.label | t
              else
                assign label = breadcrumb.label
              endif
            %}

            <li>
              {% if forloop.last %}
                <!--<h2>-->
              {% else %}
                {% if breadcrumb.url %}
                  <a href="{{ breadcrumb.url }}">
                {% endif %}
              {% endif %}
                  {{ label }}
              {% if forloop.last %}
                {% if value %}
                    ({{ value }})
                {% endif %}
                <!--</h2>-->
              {% else %}
                {% if breadcrumb.url %}
                  </a>
                {% endif %}
                
              {% endif %}
            </li>

            {% endfor %}
          </ul>
        </nav>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    {% liquid 
    render 'theme/simple/dashboard/sidebar'
    %}

    <div class="col-md-8">
      <div class="row">


        <div class="col-md-8 my-profile">
          <h4 class="margin-top-0 margin-bottom-30">My Account</h4>

          <form action="/dashboard/profile" method="post">

            {% render 'authenticity_token', context: context %}
            <input type="hidden" name="_method" value="put" />


            <label>Username</label>
            <input name="profile[name]" value="{{ object.name }}" id="name" type="text">

            <label>First Name</label>
            <input name="profile[first_name]" value="{{ object.first_name }}" id="first-name" type="text">

            <label>Last Name</label>
            <input name="profile[last_name]" value="{{ object.last_name }}" id="last-name" type="text">


            <h4 class="margin-top-50 margin-bottom-25">Short Bio</h4>
            <textarea name="profile[bio]" id="bio" cols="30" rows="10">{{ object.bio }}</textarea>

            <button class="button margin-top-20 margin-bottom-20">Save Changes</button>
          </form>
        </div>

        <div class="col-md-4">
          <!-- Avatar -->
          <div class="edit-profile-photo">
            {% liquid
              assign img_url = object.avatar.photo.versions.small
              unless img_url
                assign img_url = 'images/user.svg' | asset_url
              endunless
            %}
            <img src="{{ img_url }}" alt="">
            <div class="padding-top-10 custom-change-photo-btn">
              <div class="photoUpload">

                  {% render 'theme/simple/photos/uppy_area' %}
                  <!--<span><i class="fa fa-upload"></i> Upload Photo</span>
                  <input type="file" class="upload">-->
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>

  </div>
</div>
{% render 'theme/simple/photos/uppy_form',
  object_uuid: object.uuid,
  presigned_url: presigned_url,
  user_id: user.id,
  photo_type: 'avatar',
  note: 'Image up to 2MB',
  max_number_of_files: 1
%}

{% comment %}
<div class="container flex flex-wrap items-center mx-auto mb-10">
  <h2 class="bigtitle">{{ 'app.profiles.edit' | t }}</h2>
</div>

<div class="sm:flex">

  <div class="flex flex-col w-64 mb-6 text-center">
    <div>
      {% liquid
        assign img_url = object.avatar.photo.versions.small
        unless img_url
          assign img_url = 'images/user.svg' | asset_url
        endunless
      %}
      <img src="{{ img_url }}" alt="" class="object-cover object-center w-48 h-48 mx-auto text-gray-400 rounded-full shadow-md md:mx-0">
    </div>
    <div class="mt-10">
      {% render 'theme/simple/photos/uppy_area' %}
    </div>
  </div>

  <div class="ml-2 md:border-l sm:flex-grow sm:pl-8 sm:order-2 border-1">
    <form action="/dashboard/profile" method="post">
      {% render 'authenticity_token', context: context %}
      <input type="hidden" name="_method" value="put" />

      <div class="lg::w-1/2">
        <div class="mb-6">
          <label class="block mb-2 cursor-pointer" for="name">{{ 'app.profiles.username' | t }}</label>
          <input id="name" name="profile[name]" value="{{ object.name }}" type="text" maxlength="45" class="w-full form-input" autocomplete="given-name">
          {% render 'theme/simple/field_error', errors: object.errors.name %}
        </div>

        <div class="mb-6">
          <label class="block mb-2 cursor-pointer" for="first-name">{{ 'app.profiles.first_name' | t }}</label>
          <input id="first-name" name="profile[first_name]" value="{{ object.first_name }}" type="text" maxlength="45" class="w-full form-input" autocomplete="given-name">
          {% render 'theme/simple/field_error', errors: object.errors.first_name %}
        </div>

        <div class="mb-6">
          <label class="block mb-2 cursor-pointer" for="last-name">{{ 'app.profiles.last_name' | t }}</label>
          <input id="last-name" name="profile[last_name]" value="{{ object.last_name }}" type="text" maxlength="45" class="w-full form-input"  autocomplete="family-name">
          {% render 'theme/simple/field_error', errors: object.errors.last_name %}
        </div>
      </div>

      <div class="mb-6">
        <label class="block mb-2 cursor-pointer" for="bio">{{ 'app.profiles.bio' | t }}</label>
        <textarea id="bio" name="profile[bio]" aria-invalid="false" rows="5" class="w-full form-input" autocomplete="bio">{{ object.bio }}</textarea>
        {% render 'theme/simple/field_error', errors: object.errors.bio %}
      </div>

      <div class="flex mt-4">
        <button type="submit" class="text-sm button">{{ 'app.save' | t }}</button>
      </div>

    </form>
  </div>
</div>

{% render 'theme/simple/photos/uppy_form',
  object_uuid: object.uuid,
  presigned_url: presigned_url,
  user_id: user.id,
  photo_type: 'avatar',
  note: 'Image up to 2MB',
  max_number_of_files: 1
%}
{% endcomment %}